[submodule "cairos-types"]
	path = deps/cairos-types
	url = https://github.com/CairosAI/cairos-types.git
[submodule "cairos-python-client"]
	path = deps/cairos-python-client
	url = https://github.com/CairosAI/cairos-python-client.git
